<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.atx.mapper.AtxPolicyMapper">

	<resultMap type="AtxPolicy" id="AtxPolicyResult">
		<result property="id"    column="id"    />
		<result property="policyName"    column="policy_name"    />
		<result property="cases"    column="cases"    />
		<result property="createTime"    column="create_time"    />
		<result property="updateTime"    column="update_time"    />
	</resultMap>

	<sql id="selectAtxPolicyVo">
		select id, policy_name, cases, create_time, update_time from atx_policy
	</sql>

	<select id="selectAtxPolicyList"  resultMap="AtxPolicyResult">
		select id, policy_name,cases from atx_policy
	</select>

	<select id="selectAtxPolicyById" parameterType="Long" resultMap="AtxPolicyResult">
		<include refid="selectAtxPolicyVo"/>
		where id = #{id}
	</select>

	<insert id="insertAtxPolicy" parameterType="AtxPolicy" useGeneratedKeys="true" keyProperty="id">
		insert into atx_policy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="policyName != null">policy_name,</if>
			<if test="cases != null and cases != ''">cases,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="policyName != null">#{policyName},</if>
			<if test="cases != null and cases != ''">#{cases},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateAtxPolicy" parameterType="AtxPolicy">
		update atx_policy
		<trim prefix="SET" suffixOverrides=",">
			<if test="policyName != null">policy_name = #{policyName},</if>
			<if test="cases != null and cases != ''">cases = #{cases},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteAtxPolicyById" parameterType="Long">
		delete from atx_policy where id = #{id}
	</delete>

	<delete id="deleteAtxPolicyByIds" parameterType="String">
		delete from atx_policy where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>